<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('app_calendar') }}">Kalendarz</a></li>
        <li><a href="{{ path('app_shopping_list') }}">Lista zakupów</a></li>
    </ul>
</nav>