<nav>
    <ul>
        <li><a href="index.html">Strona główna</a></li>
        <li><a href="kalendarz.html">Kalendarz</a></li>
        <li><a href="lista.html">Lista zakupów</a></li>
    </ul>
</nav>