{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
<h1>Jak działa FoodMate?</h1>

<div class="article1"><img src="{{ asset('images/article1.jpg') }}" style="display: block; margin: auto;"></div>
<p>Chcesz samodzielnie przygotowywać posiłki? Szukasz oszczędności czasu i pieniędzy? Stworzyliśmy narzędzie, które pozwoli Ci sprawnie i szybko planować posiłki tak, że już nigdy nie zabraknie Ci mleka do naleśników do których kupiłeś już dżem i bitą śmietanę! </p>
{% endblock %}