{% extends 'base.html.twig' %}

{% block title %}FoodMate - Produkty{% endblock %}

{% block main %}
    <a class="btn btn-primary" href="{{ path('products' ) }}"> < </a>

    <h1>Edytuj produkt w lodówce:</h1>

    {{ form(form) }}


{% endblock %}