{% extends 'base.html.twig' %}

{% block title %}FoodMate - Lista zakupów{% endblock %}

{% block main %}
    <div class="container">
        <h1>Lista zakupów</h1>
        <ul class="list-group">
            {% for item in list %}
                <li class="list-group-item d-flex justify-content-between align-items-center" id="item1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkbox1">
                        <label class="form-check-label" for="checkbox1">
                            {{ item.product.name }} x {{ item.quantity }}
                        </label>
                    </div>
                    <button class="btn btn-danger delete-button" onclick="removeItem('item1')">Usuń</button>
                </li>
            {% endfor %}
        </ul>
{#        <form>#}
{#            <div class="form-group">#}
{#                <label for="new-item">Dodaj nowy produkt do listy:</label>#}
{#                <input type="text" class="form-control" id="new-item" placeholder="Wpisz nazwę produktu">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-primary">Dodaj</button>#}
{#        </form>#}
    </div>

    <script>
        // Funkcja usuwająca element z listy
        function removeItem(itemId) {
            const listItem = document.getElementById(itemId);
            listItem.parentNode.removeChild(listItem);
        }
    </script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Custom CSS styles */
        body {
            font-family: 'Arial', sans-serif;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 20px;
        }

        ul {
            list-style: none; /* Usunięcie punktów z listy */
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        .delete-button {
            background: none;
            border: none;
            color: red;
            cursor: pointer;
        }
    </style>
{% endblock %}