{% extends 'base.html.twig' %}

{% block title %}FoodMate - Lista zakupów{% endblock %}

{% block main %}
    <h1>Lista zakupów</h1>
    <ul>
        <li>
            <input type="checkbox" id="item1">
            <label for="item1">Jabłka</label>
        </li>
        <li>
            <input type="checkbox" id="item2">
            <label for="item2">Mleko</label>
        </li>
        <li>
            <input type="checkbox" id="item3">
            <label for="item3">Chleb</label>
        </li>
    </ul>
    <form>
        <label for="new-item">Dodaj nowy produkt do listy:</label>
        <input type="text" id="new-item" placeholder="Wpisz nazwę produktu">
        <input type="submit" value="Dodaj">
    </form>
{% endblock %}
